<!-- include footer.html -->

<footer class="site-footer">

    <nav class="social-media-nav">
        <a class="facebook icon" href="https://www.facebook.com/WordBrewery/" target="_blank">{% include icons/facebook.svg %}</a>

        <a class="twitter icon" href="https://twitter.com/WordBrewery" target="_blank">{% include icons/twitter.svg %}</a>

        <a class="tumblr icon" href="https://wordbrewery.tumblr.com" target="_blank">{% include icons/tumblr.svg %}</a>

        <a class="googleplus icon" href="https://plus.google.com/+WordBreweryLanguages" target="_blank">{% include icons/googleplus.svg %}</a>

        <a class="linkedin icon" href="https://www.linkedin.com/company/wordbrewery" target="_blank">{% include icons/linkedin.svg %}</a>

        <a class="pinterest icon" href="https://www.pinterest.com/wordbrewery" target="_blank">{% include icons/googleplus.svg %}</a>

        <a class="instagram icon" href="https://www.instagram.com/wordbrewery/" target="_blank">{% include icons/instagram.svg %}</a>

        <a class="youtube icon" href="https://youtube.com/wordbrewerylanguages" target="_blank">{% include icons/youtube.svg %}</a>

    </nav>

    <nav class="bottom-nav">
      <a href="https://wordbrewery.com/" target="_blank">WordBrewery.com</a>
      <a href="https://wordbrewery.com/subscriptions" target="blank">Subscribe</a>
      <a href="https://wordbrewery.com/about" target="_blank">About</a>
      <a href="https://squareup.com/store/wordbrewery2" target="_blank">Donate</a>
      <a href="https://wordbrewery.com/account/register" target="_blank">Register</a>
      <a href="http://goo.gl/pTPRvb" target="_blank">Get email updates</a>
    </nav>

</footer>
