<!-- include post-listing.html -->

<div class="post-listing" itemprop="blogPost" itemscope="" itemtype="http://schema.org/BlogPosting">
  <a href="{{ post.url | prepend: site.baseurl }}" itemprop="url">
    <div class="feature-img" itemprop="image" style="background-image: url({{ site.baseurl }}/img/{{ post.image }})"></div>
    <p class="post-meta"><span itemprop="dateModified"><time itemprop="datePublished" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %-d, %Y" }}</time></span> in {{ post.category }}</p>
    <h2 itemprop="headline"><span itemprop="name">{{ post.title }}</span></h2>
    <p itemprop="description">{% if post.description %}{{ post.description | strip_html | truncate: 120 }}{% elsif post.content %}{{ post.content | strip_html | truncate: 120 }}{% elsif page.description %}{{ post.description | strip_html | truncate: 120 }}{% else %}{% elsif page.content %}{{ post.content | strip_html | truncate: 120 }}{% else %}{{ site.description }}{% endif %}</p>
  </a>
</div>
