<!-- include post_header.html -->
<div id="post_header" markdown="1">
    <a id="post_header"></a>

    <h5>Welcome to <a href="https://wordbrewery.com" target="_blank" title="Learn languages one sentence at a time | WordBrewery">WordBrewery</a>!</h5>

    {: #intro-header style="text-align: center"} *{{ site.wordbrewery }} is a new language-learning webapp that helps you achieve fluency one sentence at a time in twenty languages. It helps you master high-frequency by pulling real, recent, and relevant sentences from news sites around the world. For a limited time, we are offering a [basic subscription for only $4.99 per month](https://wordbrewery.com/subscriptions){:target='_blank'}. Nonsubscribers can try the site by studying up to 30 sentences per month.* {: #intro-text style="text-align: justify"}


</div>
