<a id="series_index"></a>
<div id="series_index" markdown="1">

## {{ site.wordbrewery }} *Reading Japanese post index*:

- [Introduction]({{ site.baseurl }}{% post_url 2016-07-31-introducing-reading-japanese %})

- [Reading Katakana Lesson 1]({{ site.baseurl }}{% post_url 2016-08-12-reading-japanese-katakana-1 %})

- [Reading Katakana Lesson 2]({{ site.baseurl }}{% post_url 2016-08-29-reading-japanese-katakana-2 %})

- [Reading Katakana Lesson 3]({{ site.baseurl }}{% post_url 2016-09-24-reading-japanese-katakana-3 %})

- [Reading Katakana Lesson 4]({{ site.baseurl }}{% post_url 2016-09-24-reading-japanese-katakana-3 %})

</div>
