<!-- include spanish_fundamentals_index.html -->
<div id="sf_index" markdown="1"><a id="series_index"></a>

## *{{ site.wordbrewery }} Spanish Fundamentals post index*:

- [Introduction]({{ site.url }}{{ site.baseurl }}{% post_url 2016-06-17-spanish-fundamentals-introduction %})

- [Spanish Core Anki Deck]({{ site.url }}{{ site.baseurl }}{% post_url 2016-09-07-wordbrewery-spanish-core-anki-deck %})

- [Lesson 1]({{ site.url }}{{ site.baseurl }}{% post_url 2016-07-27-spanish-fundamentals-1 %})

- [Lesson 2]({{ site.url }}{{ site.baseurl }}{% post_url 2016-08-06-spanish-fundamentals-2 %})

- [Lesson 3]({{ site.url }}{{ site.baseurl }}{% post_url 2016-08-18-spanish-fundamentals-3 %})

- [Lesson 4]({{ site.url }}{{ site.baseurl }}{% post_url 2016-09-13-spanish-fundamentals-4 %})

- [Lesson 5]({{ site.url }}{{ site.baseurl }}{% post_url 2016-12-02-spanish-fundamentals-5 %})

*This post is part of {{ site.wordbrewery }}'s Spanish Fundamentals series, which is described
[here](https://wordbrewery.com/blog/spanish/spanish-fundamentals-introduction/). All the Spanish example sentences on this blog are real, recent sentences from the news selected from {{ site.wordbrewery }}'s database, and each sentence is paired with audio recorded by native speakers.*

</div>
