---
layout: default
---

<div class="carousel">
    {% for post in site.category.Japanese %}
    <!-- {% if post.category=="Japanese" %} -->
    {% include carousel-slide.html %}
    <!-- {% endif %} -->
    {% endfor %}
</div>

<div class="post_index">

    <ul class="post-list" itemscope="" itemtype="http://schema.org/Blog">
        {% for post in site.category.Japanese %}
        <!-- {% if post.category=="Japanese" %} -->
        {% include post-listing.html %}
        <!-- {% endif %} -->
        {% endfor %}
    </ul>

</div>
